<%= form_for @user do |form| %>

  <div class="field">
    <%= form.label :Group %>
    <%= form.collection_select :group_id, Group.all, :id, :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
