<h1>Editing User</h1>

<% if current_user.isTeacher %> 
<%= render 'teacheredit', user: @user %>
<% else %> 
<%= render 'editUser', user: @user %>
<% end %> 
<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
