<p id="notice"><%= notice %></p>

<h1>My Evaluations</h1>

<table class="table table-striped">
  <thead class="thead-color">
    <tr>
      <th>Group</th>
      <th>Topic</th>
      <th colspan="4">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @presentations.each do |presentation| %>
        <% if presentation.group_id == current_user.group_id %>
          <tr>
            <td><%= presentation.group_id %></td>
            <td><%= presentation.topic %></td>
            <td><%= link_to "View Feedback", feedbacks_path %></td>
          </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>

