<p id="notice"><%= notice %></p>

<h1>Feedback</h1>

<p class="show-field">
  <strong>Presentation: </strong>
  <%= @feedback.presentation_id %>
</p>

<p class="show-field">
  <strong>Ranking: </strong>
  <%= @feedback.ranking %>
</p>

<p class="show-field"> 
  <strong>Comment: </strong>
  <%= @feedback.comment %>
</p>

<br>