<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
  <%= link_to "Evermore", root_path, id: "logo" %>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item"><%= link_to "Rate Now!", rates_path %></li>
    </ul>
  </nav>
  </div>
</header>
